.contact-form{
  display: flex;
  justify-content: flex-end;
  align-items: center;
    position: relative;
  &-wrapper {
    background-image: linear-gradient(to right, #fe7102, #da2987);
    font-family: 'Neris', sans-serif;
    position: relative;
    padding: 25rem 0 10rem 0;
  }
  &__recruiter-wrap {
    width: 50%;
    //display: flex;
  }
  &__recruiter{
    position: absolute;
    top: -42.6rem;
    left: 0;
  }

  &__cloud-quote {
    position: absolute;
  }

  &__quote {
    background: url(../../img/quote-cloud.png) center no-repeat;
    background-size: contain;
    position: absolute;
    top: -40rem;
    left: 32%;
    padding: 7rem 5rem 4rem 12rem;

    &__questions {
      font-size: 3.8rem;
      font-weight: 600;
      line-height: 4.5rem;
      display: flex;
      flex-direction: column;
    }

    &__position{
      margin-top: 6.5rem;
      font-size: 1.8rem;

      &-name{
        font-size: 2.3rem;
        margin-right: 3rem;
        font-weight: 600;
      }
    }
  }

  &__get-info{
    text-align: right;

    &__labels{
      font-size: 1.8rem;
      color: #ffffff;
      left: -7rem;
      top: 1.2rem;
      position: absolute;
    }

    .inputs-container{
      position: relative;
      margin-bottom: 1rem;
    }

    &__inputs{
      width: 37rem;
      font-size: 1.5rem;
      padding: 1.2rem 0 1.2rem 1rem;
      border-radius: 1rem;
      border: none;
      display: inline-block;
    }

    &__inputs-button{
      width: 17rem;
      padding: 2rem 0;
      margin-top: 1rem;
      background: transparent;
      color: #ffffff;
      border: 0.1rem solid #ffffff;
      border-radius: 3.3rem;
      font-size: 2rem;
      cursor: pointer;
    }

    &__inputs-button:hover{
      border: 0.1rem solid #fe7102;
    }

  }
}

.contacts-info {
  &-social {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }
  &__link {
    width: 5rem;
    & img {
      width: 100%;
    }
  }
}

.error{
  display: block;
  margin-bottom: 0.5rem;
}
