.contact-form{
  background-image: linear-gradient(to right, #fe7102, #da2987);
  font-family: 'Neris', sans-serif;
  height: 535px;
  position: relative;

  &__recruiter{
    position: absolute;
    top: -219px;
    left: 65px;
  }

  &__cloud-quote {
    position: relative;
    top: -195px;
    left: 465px;
  }

    &__quote {
      position: absolute;
      top: -110px;
      left: 600px;

      &__questions {
        font-size: 38px;
        font-weight: 600;
        line-height: 45px;
        display: flex;
        flex-direction: column;
      }

      &__position{
        margin-top: 65px;
        font-size: 18px;

        &-name{
          font-size: 23px;
          margin-right: 30px;
          font-weight: 600;
        }
      }
    }

  &__get-info{
    position: absolute;
    right: 150px;
    bottom: 70px;
    width: 380px;

    &__labels{
      font-size: 18px;
      color: #ffffff;
      left: -70px;
      top: 12px;
      position: absolute;
    }

    .inputs-container{
      position: relative;
    }

    &__inputs{
      width: 370px;
      height: 40px;
      font-size: 15px;
      margin-bottom: 10px;
      border-radius: 10px;
      border-color: transparent;
      display: inline-block;
    }

    &__inputs-button{
      width: 170px;
      height: 60px;
      background: transparent;
      color: #ffffff;
      border: 1px solid #ffffff;
      border-radius: 33px;
      font-size: 20px;
      margin: 10px 0 0 210px;
      cursor: pointer;
    }

    &__inputs-button:hover{
      border: 1px solid #fe7102;
    }

  }
}

.error{
  display: block;
  margin-bottom: 5px;
}
