.header{
  background: url('./../img/header-bg.png') no-repeat;
  background-size: cover;
  padding-bottom: 25rem;

  &__main-info{
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    &__slogan{
      display: flex;
      flex-direction: column;
      width: 68.7rem;
      font-size: 6rem;
      font-family: 'Neris';
      font-weight: 600;
      font-style: normal;
      line-height: 1.2;
      &_item:nth-child(3){
        min-width: 69.1rem;
      }
    }
    &__contact-button{
      margin-top: 7.5rem;
      align-self: flex-start;
      text-decoration: none;
      padding: 1.6rem 5rem;
      color: #ffffff;
      font-size: 2.4rem;
      font-weight: 700;
      font-family: 'Neris', sans-serif;
      cursor: pointer;
      border-radius: 4.4rem;
      border: double 1.1rem transparent;
      background-image: linear-gradient(to right, #d65578 , #f4653a), radial-gradient(circle at top left, rgba(214,85,120,.5), rgba(244,101,58, .5));
      background-origin: border-box;
      background-clip: padding-box, border-box;
    }
  }
}

.top-menu{
  padding-top:5rem;

  &__logo {
    flex-basis: 15%;
    &-img {
      width: 100%;
    }
  }

  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }

  &__nav-menu{
    display: flex;
    justify-content: space-between;
    max-width: 62rem;
    //width: 62rem;
    flex-basis: 60%;

    &__item{
      &__link{
        position: relative;
        text-decoration: none;
        color: #000000;
        font-size: 1.8rem;
        font-family: 'Neris', sans-serif;
        font-weight: 600;

        &::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 0.4rem;
          bottom: -0.8rem;
          left: 0;
          background-image: linear-gradient(to right, #d65578 , #f4653a);
          visibility: hidden;
          border-radius: 0.5rem;
          transform: scaleX(0);
          transition: .3s linear;
        }

      }
      &__link:hover::before{
        visibility: visible;
        transform: scaleX(1);
      }
    }
  }

  &__phone{
    text-decoration: none;
    color: rgba(243, 84, 125, 255);
    font-size: 2.3rem;
    font-family: 'Neris', sans-serif;
    font-weight: 700;
  }
}
