.text-block {
  font-family: 'Neris', sans-serif;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  &__picture {
    width: 100%;
  }

  &__picture-column {
    width: 50%;

    &__headline {
      font-size: 5.6rem;
      font-weight: 600;
      margin: 8rem 0 3.5rem 7rem;
    }

    &__headline-graphic {
      margin-top: 20rem;
    }

    &__headline-high-five{
      font-size: 5.3rem;
      margin-top: 19rem;
    }

    &__high-five{
      margin-left: 7rem;
    }

  }

  &__picture-column-graphic{
    margin-top: 20rem;

    &__graphic{
      margin: -1rem 0 0 1rem;
    }
  }

  &__text-column {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__paragraph {
      font-size: 3rem;
      font-weight: 300;
      margin-top: 25rem;
      line-height: 4rem;
    }

    &__paragraph-graphic{
      margin: 5rem 1rem 1rem 7rem;
      width: 89%;
    }

    &__paragraph-high-five{
      margin-top: 35rem;
      width: 77%;
    }

    &__button {
      font-size: 2.1rem;
      font-weight: bold;
      text-decoration: none;
      margin-top: 15%;
      text-align: center;
      padding: 2rem 2rem;
      color: #ffffff;
      border-radius: 4.5rem;
      border: solid 0.8rem transparent;
      background-image: linear-gradient(to left, #fe7102, #da2987), radial-gradient(circle at top left, rgba(212, 84, 125, 0.5), rgba(246, 102, 54, 0.5));
      background-origin: border-box;
      background-clip: padding-box, border-box;
      cursor: pointer;
      outline: none;
    }
    &__button-graphic{
      margin: 9rem 0 0 7rem;
      align-self: flex-start;
    }
  }
}
.text-block:nth-child(4){
  margin-bottom: 35rem;
}