@font-face {
  font-family: 'Neris';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Neris-SemiBold.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/Neris-SemiBoldItalic.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Neris-Black.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: bold;
  font-style: italic;
  src: url("../fonts/Neris-BoldItalic.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/Neris-Thin.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Neris-Light.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/Neris-LightItalic.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: 100;
  font-style: italic;
  src: url("../fonts/Neris-ThinItalic.otf");
}
@font-face {
  font-family: 'Neris';
  font-weight: 900;
  font-style: italic;
  src: url("../fonts/Neris-BlackItalic.otf");
}