@import "./reset";
html {
  font-size: 10px;
}
.container {
  max-width: 140rem;
  padding: 0 2rem;
  margin: 0 auto;
}
@import "./sections/header";
@import "./sections/text-blocks";
@import "./sections/feedback-form";
@import "./sections/partners-and-footer";
@import "./media/all-media";